* {
    margin: 0%;
    padding: 0%;
}

/*import fuentes del archivo llamado _fuentes.scss*/
@import "fuentes";

/*aca aplico mixin para luego replicar en ditintas clases*/
@mixin distintosestilos ($estiloA, $estiloB, $estiloC) {
    width: $estiloA;
    border-radius: $estiloC;
    background-color: $estiloB;
}
/* aca aplico mixin para los porcentajes para la  animacion*/
@mixin animacion-a-escala {
    @keyframes scale {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }
}

/* fondo de los body de cada page */
body {
    background-image: url(../multimedia/img/advertise-768064.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

/* esto es el titulo principal de las pages*/
.nombre-de-la-pagina {
    text-decoration: none;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    /* fuente traida de google fonts usando variable global*/
    font-family: $fuente-principal;
    animation: scale 5s ease-in-out;
    /* Define la clase de animación*/
   @include animacion-a-escala;
}

/* este es el video del section que se llama recitales */
video {
    height: 120px;
    font-weight: 80px;
    padding: 40px 20px 20px 20px;
    position: relative;
    max-width: 1000px;
}

/*esto pertenece a los textos del html noticias (en index) y proximas fechas (en page tickets)*/
p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    height: 30px;
    font-weight: 30px;
    padding: 20px 10px 10px 20px;
    position: relative;
    max-width: 250px;
    margin: auto;
}

h2 {
    /*aplico variables locales*/
    $fuente-secundaria: bold;
    $tamaño-letra: 60px;
    font-weight: $fuente-secundaria;
    font-size: $tamaño-letra;
    /* Aca aplico la animación*/
}


/*parrafo en biografia */
.historia-resumida {
    display: inline;
    flex-direction: column;
    justify-content: center;
    /* esta es la fuente exportada de G Fonts usando variables globales, y le agregué solid */
    font-family: $fuente-principal;
    font-size: large;
    font-weight: $fuente-titulos-negrita;
    height: 20px;
    font-weight: 20px;
    padding: 20px 20px 20px 20px;
    position: relative;
    max-width: 500px;
    text-align: center;
    margin: auto;
}
/* esto es del main del index */
.main1 {
    background-image: url(../multimedia/img/advertise-768064.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*maps aplicado a los sectores principales del index*/
.sectores-principales {
    padding: map-get($map: $estilos, $key: estilo1);
    position: map-get($map: $estilos, $key: estilo2);
    max-width: map-get($map: $estilos, $key: estilo3);
    margin: map-get($map: $estilos, $key: estilo4);
    text-decoration: map-get($map: $estilos, $key: estilo5);
    text-align: map-get($map: $estilos, $key: estilo6);
    font-size: map-get($map: $estilos, $key: estilo7);
    font-family: map-get($map: $estilos, $key: estilo8);
}


/* esto es el sector del formulario en el index */
.formulario-datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    align-items: center;
}

/* esta es la pregunta en el page videos */
/*aca aplico @extend para traer los estilos de .sectores-principales a la class .proximo-video en el page videos*/
.proximo-video {
    @extend .sectores-principales;
    /*aca aplico variable global a la letra*/
    font-weight: $fuente-titulos-negrita;
}

/*este es el nav del menu de navegación del index*/
/*nesting del nav de cada page con scss*/
nav {
    ul {
        /* botones de volver al inicio de cada page */
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 0%;

        /* este es el diseño  de los accesos a las distintas pages -donde clicker, ej discos videos- */
        li {
            padding: 40px 50px;
            position: relative;
            max-width: 1200px;
            margin: auto;
            display: flex;

            /* este es el formato de los li del ul*/
            .distintas-paginas {
                text-decoration: none;
                color: darkslategrey;
                text-align: left;
                font-size: 30px;
                font-weight: $fuente-titulos-negrita;
                /* fuente traida de google fonts */
                font-family: $fuente-principal;

                &:hover {
                    /* acá aplico pseudoclases a los botones del menu del nav */
                    background-color: rgba(99, 91, 91, 0.151);
                    border-radius: 5px;
                    padding: 5px;
                    color: antiquewhite;
                    cursor: pointer;
                }

                /* acá aplico pseudoclases a los botones del menu del nav */
                &:active {
                    background-color: black;
                    color: black;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }



        }
    }
}

/* aca puse edición del footer */
#finale {
    display: inline-block;
    padding: 40px 50px 0;
    position: relative;
    max-width: 1200px;
    text-decoration: none;
    text-align: left;
    font-size: x-large;
}

/* esto es el formato del header*/
.header1 {
    padding: 40px 40px 40px 40px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* edicion de los discos */
.lista-de-discos {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-height: 620px;
    position: relative;
    max-width: 620px;
    margin: 0 auto;
}

/* edicion de los videos*/
.lista-de-videos {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 0%;
}

/* acá aplico estilos con mixin trayendolo con include a los videos, del html videos */
.videos-en-youtube {
    @include distintosestilos(80%, black, 15px);
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 2px 15px 3px;
    background-color: black;
}

/* logos de las redes */
.logo-red {
    height: 25px;
    width: 25px;
    text-align: left;
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
}

/*aca puse fotos de las remeras para vender  */
.remerasstore {
    display: inline;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 120px;
    padding: 20px 20px;
    position: relative;
    max-width: 1200px;
}

/* esto aplica al área los nombres de los discos, en el page index (recital en vivo), discos y videos */
.nombres-canciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    position: relative;
    max-width: 1200px;
    margin: auto;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    /* aplico variables globales*/
    font-family: $fuente-principal;
    font-weight: $fuente-titulos-negrita;
}

/* tamaño y estilo de los videos en vivo del index */
.video-en-vivo {
    width: 315px;
    height: 315px;
    background-color: rgb(3, 3, 3);
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 15px 3px gray;
}

/* esto es de la leyenda de copyright del footer*/
.copyright {
    display: inline-block;
    padding: 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

/* acá aplico pseudoclases a las noticias del section de mi index */
.noticias:hover {
    background-color: rgba(99, 91, 91, 0.151);
    border-radius: 5px;
    padding: 5px;
    color: antiquewhite;
    cursor: pointer;
}

/*acá aplico pseudoclases a las noticias del section de mi index*/
.noticias:active {
    background-color: rgba(33, 25, 58, 0.534);
    color: black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.noticias {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* grid aplicado en el body de los distintos html */
.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* aca aplico mediaqueries a los distintos sectores del body */
@media (max-width:768px) {
    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
    }

    .footer {
        grid-area: footer;
    }
}

@media (max-width: 768px) {

    /* aca aplico estilos a distintas secciones para esa screen */

    .nombre-de-la-pagina {
        margin-top: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0%;
    }

    .sectores-principales {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .noticias {
        margin-bottom: 20px;
        padding: 10px;
    }

    .carousel-item {
        max-width: 100%;
        height: auto;
    }

    .historia-resumida {
        text-align: left;
        margin: auto;
        border: 5px;
    }
}