*{
    margin: 0%;
    padding: 0%;
}
/* esto es el titulo principal de las pages*/
h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 100px;
 /* fuente traida de google fonts */
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* este es el video del section que se llama recitales */
video{
    height: 120px;
    font-weight: 80px;
    padding: 40px 20px 20px 20px;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
 /*esto pertenece a los textos del html noticias (en index) y proximas fechas (en page tickets)*/
p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    height: 30px;
    font-weight: 30px;
    padding: 20px 10px 10px 0;
    position: relative;
    max-width: 250px;
    margin: 0 auto;
}
 /*parrafo en biografia */
.historia-resumida{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    height: 20px;
    font-weight: 20px;
    padding: 20px 10px 10px 0;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}
/* esto es del main del index */
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
/* esto es del section del index */
.sectores-principales{
    padding: 50px 50px 20px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    /* fuente traida de google fonts */
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* aca aplico grid al main */
.columnas-section > section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
/* este es el formato de los li del ul*/
ul li a{
    text-decoration: none;
    text-align: left;
    font-size: 30px;
 /* fuente traida de google fonts */
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* botones de volver al inicio de cada page */
nav ul{
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
/* este es el diseño  de los accesos a las distintas pages -donde clicker, ej discos videos- */
nav li {
    padding: 40px 50px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}  
/* aca aplico grid en el nav del index */
.grid-en-menu{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5,10px);
}
/* aca puse edición del footer */
#finale{
    display: inline-block;
    padding: 40px 50px 0;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
    text-align: left;
    font-size: x-large;
/* fuente traida de google fonts */
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* esto es el formato del header*/
header{
    padding: 40px 40px 40px 40px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* edicion page discos */
.lista-de-EP{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 80px 100px 0;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    /* fuente traida de google fonts */
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* aca estan los logos de redes sociales */
.logo-red{
    display: inline-block;
    height: 25px;
    width: 25px;
    padding: 20px 20px;
    display:inline-flex;
    flex-direction: row;
    justify-content: start;
}
/*aca puse fotos de las remeras para vender  */
.remerasstore{
    display: inline-block;
    height: 150px;
    width: 120px;
    padding: 50p x 50px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* nombre de los videos, de las canciones */
.videos-en-youtube{
    padding: 50px 50px 20px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    /* fuente traida de google fonts */
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* esto es de los videos que subi en el html videos */
.videossubidos{
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 320;
    font-weight: 320px; 
    padding: 40px 20px 20px 0;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
/* esto es de la leyenda de copyright del pie*/
.copyright{
    display: inline-block;
    padding: 10px 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}
/* esto es grid area en la page de discos */
#areas-de-discos{
    display: grid;
    grid-template-areas: 
    "columna1";
    justify-content: center;
    grid-template-columns: 360px;
    grid-template-rows: 80px;
}
/* esto aplica al área los nombres de los discos, en el page discos */
.border{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}
