*{
    margin: 0%;
    padding: 0%;
}
/* fondo de los body de cada page */
body{
    background-color: rgba(68, 62, 73, 0.493);
}  
/* esto es el titulo principal de las pages*/
h1{
    text-decoration: none;
    text-align: center;
    font-size: 100px;
 /* fuente traida de google fonts */
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* este es el video del section que se llama recitales */
video{
    height: 120px;
    font-weight: 80px;
    padding: 40px 20px 20px 20px;
    position: relative;
    max-width: 1000px;
}
 /*esto pertenece a los textos del html noticias (en index) y proximas fechas (en page tickets)*/
p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    height: 30px;
    font-weight: 30px;
    padding: 20px 10px 10px 0;
    position: relative;
    max-width: 250px;
    margin: auto;
}
 /*parrafo en biografia */
.historia-resumida{
    display:inline;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    height: 20px;
    font-weight: 20px;
    padding: 20px 10px 10px 0;
    position: relative;
    max-width: 500px;
    text-align: left;
}   
/* esto es del main del index */
main{
    background-color: rgba(102, 102, 116, 0.897);
    display:flex;
    flex-direction: column;
    justify-content: center;
}
/* esto es del section del index */
.sectores-principales{
    padding: 50px 50px 20px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    /* fuente traida de google fonts */ 
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* esto es el sector del formulario en el index */
.formulario-datos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

/* este es el formato de los li del ul*/
ul li a{
    text-decoration: none;
    text-align: left;
    font-size: 30px;
 /* fuente traida de google fonts */
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* botones de volver al inicio de cada page */
nav ul{
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
/* este es el diseño  de los accesos a las distintas pages -donde clicker, ej discos videos- */
nav li {
    padding: 40px 50px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}  
/* aca puse edición del footer */
#finale{
    display: inline-block;
    padding: 40px 50px 0;
    position: relative;
    max-width: 1200px;
    text-decoration: none;
    text-align: left;
    font-size: x-large;

}
/* esto es el formato del header*/
header{
    padding: 40px 40px 40px 40px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* edicion page discos */
.lista-de-EP{
    padding: 80px 80px 100px 0;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    /* fuente traida de google fonts */
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* logos de las redes */
.logo-red{
    display: inline-block;
    height: 25px;
    width: 25px;
    padding: px 20px 20px;
    display:inline-flex;
    flex-direction: row;
    justify-content: start;
}
/*aca puse fotos de las remeras para vender  */
.remerasstore{
    display: inline-block;
    height: 150px;
    width: 120px;
    padding: 50px 50px;
    position: relative;
    max-width: 1200px;
}
/* nombre de los videos, de las canciones */
.videos-en-youtube{
    display: flex;
    flex-direction: column;
    justify-self: initial;
    padding: 50px 50px 20px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    /* fuente traida de google fonts */
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Bungee Spice', cursive;
}
/* esto es de los videos que subi en el html videos */
.videossubidos{
    display: flex;
    flex-direction: column;
    justify-self: initial;
    height: 320;
    font-weight: 320px; 
    padding: 40px 20px 20px 0;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
/* esto es de la leyenda de copyright del pie*/
.copyright{
    display: inline-block;
    padding: 10px 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}
/* estilo letra de los precios de remeras, en el index */
.letra-resaltada{
font-family: 'Times New Roman', Times, serif;
font-size: small;
    }